@import '../../scss/abstracts/functions';
@import '../../scss/abstracts/mixins';
@import '../../scss/abstracts/variables';

.sprite-list {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
    grid-gap: 30px;
    grid-auto-rows: minmax(175px, auto);
    grid-auto-flow: dense;

    @include clear-float();

    &__item {
        border-radius: 10px;

        @include respond-to(medium) {
            &--colspan-2 {
                grid-column-end: span 2;
                grid-row-end: span 2;
            }

            &--colspan-3, &--colspan-4, &--colspan-5, &--colspan-6 {
                grid-column-end: span 3;
                grid-row-end: span 3;
            }
        }

        @include respond-to(large) {
            &--colspan-4 {
                grid-column-end: span 3;
                grid-row-end: span 4;
            }

            &--colspan-5 {
                grid-column-end: span 3;
                grid-row-end: span 4;
            }

            &--colspan-6 {
                background: transparent;
                text-align: center;
                padding: 50px;
                grid-column-end: span 6;
                grid-row-end: span 3;
            }
        }

        &--rowspan-2 {
            grid-row-end: span 2;
        }

        &--rowspan-3 {
            grid-row-end: span 3;
        }

        &--rowspan-4 {
            grid-row-end: span 4;
        }

        &--rowspan-5 {
            grid-row-end: span 5;
        }

        &--rowspan-6 {
            grid-row-end: span 6;
        }
    }

    &__aside {
        @include center-perfectly;
    }

    &__text {
        display: inline-block;
        max-width: 300px;
        vertical-align: middle;
        width: 100%;

        @include respond-to(medium) {
            max-width: 512px;
        }
    }
}