@import '../../scss/abstracts/functions';
@import '../../scss/abstracts/mixins';
@import '../../scss/abstracts/variables';

.navigation-overlay {
    text-align: center;

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__item {
        margin: 0;
        padding: 10px 0;

        &--spaced {
            padding-top: 30px;
        }
    }

    &__link {
        color: $color-anchor;
        cursor: pointer;
        font-size: rem-calc(32);
        font-weight: 700;
        line-height: rem-calc(48);
        text-transform: uppercase;

        &:hover {
            color: $color-anchor-hover;
        }

        &:active, &:focus {
            color: $color-anchor-focus;
        }
    }
}