@import '../../scss/abstracts/functions';
@import '../../scss/abstracts/mixins';
@import '../../scss/abstracts/variables';

.navigation-overlay {
    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__item {
        margin: 0;
    }

    &__link {
        font-size: rem-calc(32);
        line-height: rem-calc(48);
    }
}