@import '../../scss/abstracts/_functions.scss';
@import '../../scss/abstracts/_mixins.scss';

.listing {
    padding-bottom: 30px;
    padding-top: 30px;

    &__header {
        padding: 60px 0 50px;

        @include respond-to(medium) {
            max-width: 60%;
        }

        &::after {
            content: '';
            clear: both;
            display: table;
        }
    }

    &__filters {
        line-height: rem-calc(24);
        padding: 15px 0 30px;

        &::after {
            content: '';
            clear: both;
            display: table;
        }
    }

    &__title {
        display: inline-block;
        line-height: rem-calc(24);
    }

    &__categories {
        float: right;
        margin-top: 6px;
        margin-bottom: 7px;
    }

    &__search {
        float: left;
    }
}