//
// Typography

$header-family: 'Poppins', sans-serif;
$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$font-size-base: 16;

//
// Breakpoints
// Make sure these are the same as foundation's breakpoints!
$breakpoints: ('small': 0, 'medium': 640px, 'large': 1024px, 'xlarge': 1200px, 'xxlarge': 1440px,);

//
// Colors
$colors: (
    'black': ('dark': darken(#030303, 5%), 'default': #030303, 'light': lighten(#030303, 5%)),
    'blue': ('dark': darken(#1accca, 5%), 'default': #1accca, 'light': lighten(#1accca, 10%)),
    'turqiouse': ('dark': darken(#41d0a3, 5%), 'default': #41d0a3, 'light': lighten(#41d0a3, 10%)),
    'lemon': ('dark': darken(#bcdd24, 5%), 'default': #bcdd24, 'light': lighten(#bcdd24, 10%)),
    'white': ('dark': #ededed, 'default': #f4f4f4, 'light': #ffffff)
);

$color-text-grey: map-deep-get($colors, 'black', 'light');
$color-header: $color-text-grey;
$color-header-alternate: map-deep-get($colors, 'blue', 'default');
$color-anchor: map-deep-get($colors, 'lemon', 'default');
$color-anchor-hover: map-deep-get($colors, 'lemon', 'light');
$color-anchor-focus: map-deep-get($colors, 'lemon', 'default');
$color-border: map-deep-get($colors, 'black', 'default');

//
// Transition defaults
$transition-default-smoothing: cubic-bezier(.23, 1, .32, 1);
$transition-default-time: .2s;
$transition-default: all $transition-default-time $transition-default-smoothing;

//
// Layout
$navbar-height: 64px;

//
// Badge Variables
// Create variants of badges
$badge-color-variants: $colors;
$badge-create-color-variants: true;

// Badge Defaults
$badge-default-background: map-deep-get($colors, 'blue', 'darker');
$badge-default-background-hover: map-deep-get($colors, 'turqiouse', 'default');
$badge-default-color: map-deep-get($colors, 'white', 'default');
$badge-default-color-hover: map-deep-get($colors, 'white', 'default');

$badge-font-family: $font-family;
$badge-font-size: rem-calc(12);
$badge-transition: $transition-default;

//
// Button Variables
// Create variants of buttons
$badge-color-variants: $colors;
$badge-create-color-variants: true;

// Button Defaults
$badge-default-background: map-deep-get($colors, 'blue', 'darker');
$badge-default-background-hover: map-deep-get($colors, 'turqiouse', 'default');
$badge-default-color: map-deep-get($colors, 'white', 'default');
$badge-default-color-hover: map-deep-get($colors, 'white', 'default');

$badge-font-family: $font-family;
$badge-font-size: rem-calc(12);
$badge-transition: $transition-default;

//
// Card Variables
$card-default-background: transparent;
$card-default-border-color: transparent;
$card-default-border-highlight: map-deep-get($colors, 'blue', 'default');
$card-default-border-width: 5px;
$card-default-border-radius: 3px;
$card-default-padding: 20px 30px 30px;
$card-default-title-color: $color-text-grey;
$card-default-content-color: map-deep-get($colors, 'white', 'darkest');
$card-default-meta-color: $color-text-grey;