@import '../../scss/abstracts/functions';
@import '../../scss/abstracts/mixins';
@import '../../scss/abstracts/variables';

.pagination {
    list-style: none;
    margin: 15px 0 30px;
    padding: 0;
    text-align: center;

    &__item {
        display: inline-block;
        margin: 0 5px;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        background: map-deep-get($colors, 'blue', 'default');
        border-radius: 5px;
        color: map-deep-get($colors, 'white', 'default');
        display: block;
        padding: 5px 15px;

        &:hover, &:focus {
            background: map-deep-get($colors, 'blue', 'light');
            color: map-deep-get($colors, 'white', 'default');
        }

        &--isCurrent {
            background: map-deep-get($colors, 'blue', 'light');
            color: map-deep-get($colors, 'white', 'default');
        }
    }
}