@import '../../scss/abstracts/functions';
@import '../../scss/abstracts/mixins';
@import '../../scss/abstracts/variables';

.pagination {
    list-style: none;
    margin: 15px 0 30px;
    padding: 0;
    text-align: center;

    &__item {
        display: inline-block;
        margin: 0 5px;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        background: $pagination-link-background-color;
        border-radius: $pagination-link-border-radius;
        color: $pagination-link-color;
        display: block;
        padding: 5px 15px;

        &:hover, &:focus {
            background: $pagination-link-background-color-hover;
            color: $pagination-link-color-hover;
        }

        &--isCurrent {
            background: $pagination-link-background-color-active;
            color: $pagination-link-color-active;
        }
    }
}