@import '../../../scss/abstracts/functions';
@import '../../../scss/abstracts/mixins';
@import '../../../scss/abstracts/variables';

.about-overlay {
    &__content {
        margin: 0 auto;
        text-align: left;
        width: 100%;
    }
}