@import '~anemone-ui/src/scss/reference';

$colors: (
        'black': ('dark': darken(#030303, 5%), 'default': #030303, 'light': lighten(#030303, 5%)),
        'blue': ('dark': darken(#1accca, 5%), 'default': #1accca, 'light': lighten(#1accca, 10%)),
        'turqiouse': ('dark': darken(#41d0a3, 5%), 'default': #41d0a3, 'light': lighten(#41d0a3, 10%)),
        'lemon': ('dark': darken(#bcdd24, 5%), 'default': #bcdd24, 'light': lighten(#bcdd24, 10%)),
        'white': ('dark': #ededed, 'default': #f4f4f4, 'light': #ffffff)
);

$global-font-size: 16px;

$color-primary: map-deep-get($colors, 'blue', 'default');
$color-secondary: map-deep-get($colors, 'turqiouse', 'default');

$color-text: map-deep-get($colors, 'black', 'light');

$color-header: $color-primary;
$color-header-alternate: $color-text;

$color-anchor: $color-primary;
$color-anchor-hover: lighten($color-primary, 5%);
$color-anchor-focus: lighten($color-primary, 5%);

$color-border: map-deep-get($colors, 'black', 'default');

//
// Layout
$navbar-height: 64px;

// Sprite Card
$sprite-card-background: transparent;
$sprite-card-border-color: transparent;
$sprite-card-border-width: 2px;
$sprite-card-border-radius: 3px;
$sprite-card-transition: $global-transition;
$sprite-card-image-background-color: $color-cod-gray;
$sprite-card-image-border-color: transparent;
$sprite-card-image-border-color-hover: $color-secondary;
$sprite-card-image-border-width: 2px;
$sprite-card-image-border-radius: 5px;
$sprite-card-image-transition: $global-transition;
$sprite-card-title-color: $color-text;
$sprite-card-title-color-hover: $color-secondary;
$sprite-card-title-font-size: rem-calc(18);
$sprite-card-title-font-weight: $global-font-weight-bold;

// Footer
$footer-background-color: $color-silver;
$footer-border-color: transparent;
$footer-border-width: 2px;
$footer-font-size: rem-calc(14);
$footer-grid-gap: 100px;
$footer-title-color: $color-text;
$footer-title-font-size: rem-calc(16);
$footer-title-font-weight: $global-font-weight-bold;

// Forms
$form-control-border-color: $color-border;
$form-control-border-color-highlight: $color-secondary;
$form-control-border-width: 2px;
$form-control-font-color: $color-text;
$form-control-line-height: rem-calc(24);
$form-control-padding: 6px 20px;